@font-face {
    font-family: 'VT323';
    font-style: normal;
    src: url('../fonts/vt323/VT323-Regular.ttf');
}

@font-face {
    font-family: 'Sahitya';
    font-style: normal;
    src: url('../fonts/sahitya/Sahitya-Regular.ttf');
}

@font-face {
    font-family: 'Sahitya';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/sahitya/Sahitya-Bold.ttf');
}

@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    src: url('../fonts/pt_serif/PTSerif-Regular.ttf');
}

@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/pt_serif/PTSerif-Bold.ttf');
}

@font-face {
    font-family: 'PT Serif';
    font-style: italic;
    src: url('../fonts/pt_serif/PTSerif-Italic.ttf');
}


@font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: bold;
    src: url('../fonts/pt_serif/PTSerif-BoldItalic.ttf');
}


@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inconsolata/Inconsolata-Regular.ttf');
}

@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inconsolata/Inconsolata-Bold.ttf');
}

body {
    background-color: #fbf5ef;
    color: #3f3f3f;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Sahitya', 'PT Serif', Times, Times New Roman;
    display: flex;
    flex-direction: column;
    font-size: 14pt;
    min-width: 500px;
}

.main-wrapper {
    flex: 1;
    /* This is used to make the footer "flush" with the rest of the page */
    min-height: 95.5vh;
}

a {
    color: #9a4048;
    text-decoration: none;
    transition: text-shadow .22s;
}

a:hover {
    text-shadow: 0px 0px 2px #cb6397;
}

a:visited {
    color: #712e2c;
    text-decoration: none;
}

div.header-logo-wrapper {
    text-align: center;
}

a.header-logo img {
    box-shadow: 0px 0px 3px #aa9c74;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

div.navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    font-size: 1.5em;
    margin-bottom: 5px;
    /* font-family: 'VT323', monospace; */
    font-family: 'Inconsolata', monospace;
    max-width: 500px;
    border-radius: 8px;
    border: 3px solid #cacae4;
    background: #2e2b2b;
}

div.navbar-menu a {
    color: #e3ddca;
    text-decoration: none;
    transition: text-shadow .3s;
    text-shadow: 0px 0px 3px #4f4d51;
}

div.navbar-menu a:hover {
    text-shadow: 0px 0px 3px #ffffff;
}

div.content-box {
    box-shadow: 0px 0px 3px #aa9c74;
    border-radius: 5px;
    border: 3px dashed #712e2c; 
    background: #fffbf9;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
}

div.homepage-about {
    margin-left: 30px;
    margin-right: 30px;
}


.bigger-text {
    font-size: 16pt;
}

/* Not super sold on these */

h1 {
    color: #3c2610;
    font-size: 1.5em;
    text-align: center;
}

h2 {
    color: #3c2610;
    font-size: 1.25em;
    text-align: center;
}

h1.title {
    text-align: left;
}

.footer {
    font-size: 10pt;
    text-align: center;
}

.footer a:hover {
    text-shadow: 0px 0px 1px #a981a9;
}

div.code {
    border-radius: 5px;
    border: 3px solid #110e13;
    background: #110e13;
    padding: 20px;
    margin: 20px;
    overflow: hidden;
    white-space: pre;
    font-family: 'Inconsolata', monospace;
}

.blogpost {
    margin-top: 10px;
    margin-bottom: 10px;
}

.blogpost .post-about {
    margin-top: -5px;
    font-size: .75em;
    color: #595a51;
}

.blogpost .title a {
    color: #ffffff;
}

.news-header {
    border-radius: 5px;
    border: 2px solid #2c2a2c;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    background: #2c2a2c;
}

.news-header h3 {
    color: #f2d7f2;
    margin-top: 5px;
    margin-bottom: 3px;
}

.homepage-video-box {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.homepage-video-box video {
    width: 800px;
    height: 450px;
    padding-bottom: 1em;
}

.homepage-news-items {
    list-style: none;
    padding-left: 2ch;
}

.news-feed-content {
    padding-left: 2ch;
    margin-bottom: 1em;
}

.news-feed-item-date {
    font-style: italic;
}

.news-feed-content p {
    margin-top: .5em;
    margin-bottom: .5em;
}

.consume-more-buttons {
    padding-left: 2ch;
}

video {
    outline: none!important;
}

.post-audio {
    margin-top: .5em;
    width: 100%;
}

hr.pre-follow-us {
    border-top: 1px dashed #3f3f3f;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

.follow-us {
    text-align: center;
}

.teacup-avatar {
    float: left;
    margin: 10px;
    margin-left: 0px;
    border-radius: 8px;
    overfloaw: hidden;
}

.site-main-content img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}
